$max: 6;
@for $i from 1 through $max {
  h-#{$i} {
    font-family: "Noto Sans TC", sans-serif;
  }
}

p {
  font-family: "Noto Sans TC", sans-serif;
}

video {
  object-fit: cover;
  z-index: 10;
}

a {
  white-space: nowrap;
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

// * {
//   outline: 1px solid;
// }
