.group-bg {
  background: center/cover url(../images/group/group-bg.jpg);
  top: 0;

  &-friend {
    background-image: url(../images/group/grounp_1.png);
  }
  &-company {
    background-image: url(../images/group/group_2.png);
  }
  &-school {
    background-image: url(../images/group/group_3.png);
  }
  &-self {
    background-image: url(../images/group/group_4.png);
  }
}

.overflow-x {
  @media (max-width: 360px) {
    overflow-x: scroll;
    margin-right: -20px;
    margin-left: -20px;
    padding-left: 100px;
  }
}
