.index-bg {
  background: center/cover url(../images/index/banner.png);
  height: 100vh;
  width: 100%;
  filter: blur(4px);
  position: relative;
  z-index: -100;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
  }
}

.bg-num {
  height: 300px;
  background: center / cover url(../images/index/bg_number.png);
  background-attachment: fixed;
  @media (max-width: 992px) {
    height: auto;
    padding: 40px;
  }
  @include mobile {
    background-attachment: scroll;
  }
}

.border-bottom-line {
  &::before {
    content: "";
    background: center/contain url(../images/share/comment-line.svg);
    // display: block;
    display: block;
    margin-top: 12px;
    height: 14px;
    width: 100%;
    background-repeat: no-repeat;
  }
}

.rounded-top-left {
  border-top-left-radius: 32px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 32px;
}

.comment-star-5 {
  &::after {
    content: "";
    display: inline-block;
    background: url(../images/share/star.svg);
    height: 14px;
    width: 86px;
    background-repeat: space;
  }
}

.comment-star-4 {
  &::after {
    content: "";
    display: inline-block;
    background: url(../images/share/star.svg);
    height: 14px;
    width: 68px;
    background-repeat: space;
  }
}

.circle-btn {
  @include size(50px);
  &:hover {
    color: black;
  }
}
