.font-sansTC {
  font-family: "Noto Sans TC", sans-serif;
}

.font-serif {
  font-family: "Noto Serif", serif;
}

.font-serifTC {
  font-family: "Noto Serif TC", serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.bg-blur-dark {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
}

.bg-blur-light {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.75);
}

.title-1 {
  font-size: 4rem;
  line-height: 1.5;
  @include pad {
    font-size: 2.5rem;
  }
  @include mobile {
    font-size: 2rem;
  }
}

.mask-dark {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  z-index: 10;
}

.index-bg {
  z-index: 5;
}

.deco-line {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 154px;
    height: 15px;
    @include pad {
      content: none;
    }
  }
  &::before {
    background: center/cover url(../images/share/arrow_R.png);
    margin-right: 16px;
  }
  &::after {
    background: center/cover url(../images/share/arrow_L.png);
    margin-left: 16px;
  }
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-ellipsis-1 {
  @extend .text-ellipsis;
  -webkit-line-clamp: 1;
}

.text-ellipsis-2 {
  @extend .text-ellipsis;
  -webkit-line-clamp: 2;
}

.btn-blur {
  color: #fff;
  backdrop-filter: blur(24px);
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px gray;
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

.card-game {
  width: 18rem;
}

.btn-dark {
  &:hover {
    color: black !important;
    border: solid 1px black !important;
    background: none !important;
  }
}

.btn-light {
  &:hover {
    color: white !important;
    border: solid 1px white !important;
    background: none !important;
  }
}

.hover-top {
  transition: transform 0.2s;
  &:hover {
    transform: translateY(-20px);
  }
}

.hover-right {
  & > * {
    transition: transform 0.2s;
  }
  &:hover > * {
    transform: translateX(16px);
  }
}

.bg-fluid {
  background-position: center;
  background-size: cover;
}

.multiply {
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
  }
}
